.toolbar {
  display: flex;
  align-items: center;
  gap: 1.6rem;
}

.dropdownWrapper {
  position: relative;
  flex: 1;
}

.button {
  width: 100%;
  min-width: 0;
}

@media (width >= 768px) {
  .dropdownWrapper {
    flex: none;
  }
}
